
.bookmarks-list{
    display: flex;
    
    flex-direction: column;
    gap: 1rem;
}

.bookmarks-item {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.bookmarks-heading{
    font-family: 'Bbaes Neue', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: #ddd;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}
.bookmarks-item img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: .8rem;
  margin-right: 1rem;
}
.bookmarks-item h3{
    font-family: "comfortaa", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}
.delete-button{
    font-size: 2.4rem;
    color: #b88efc;
    cursor: pointer;
}
